body {
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #666666;

    font-family: 'Orbitron', sans-serif;
  }

  .logo {
    width:512px;
    height:512px;
    display: block;
    margin: 0 auto;
  }

  footer {
    font-size:0.6em;
  }