<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="hero" id="hero">
    <div class="container">
    <!--
  <header>
    <h1>Silent Byte</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/writeups">Writeups</a></li>
      </ul>
    </nav>
  </header>
-->
  <div class="content">
    {{ content }}
  </div>

  <footer>
    <p>© 2025 SilentByte. All rights reserved.</p>
  </footer>
</div>
  <script>
    const hero = document.getElementById('hero');
    const img = new Image();
    img.src = '/static/bg2.webp';
    img.onload = () => {
        hero.classList.add('loaded');
    };

    // const logo_img = document.getElementById('logo');
    // logo_img.onload = () => {
    // logo_img.classList.add('loaded');
    // };

    // var logo = document.getElementById('logo');

    // // Check if the image is already loaded, if not, wait for it to load
    // if (logo.complete) {
    //     logo.classList.add('loaded');
    // } else {
    //     logo.onload = function() {
    //     logo.classList.add('loaded');
    //     };
    // }
  </script>
</body>
</html>